<div class="mt-5">

    <div class="row ml-0">
        <app-ticker-search (addTickerSymbol)="addToWatchList($event)"></app-ticker-search>
    </div>


    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ticker</th>
                <th scope="col">Name</th>
                <th scope="col">Dividend Yield</th>
                <th scope="col">Payout Ratio</th>
                <th scope="col">Net Profit Margin</th>
                <th scope="col">Pe Forward</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let item of watchListdata; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.ticker}}</td>
                <td>{{item.name}}</td>
                <td>{{item.dividendYield * 100 | number:'1.2-2'}}%</td>
                <td>{{item.payoutRatio * 100 | number:'1.2-2'}}%</td>
                <td>{{item.profitMargin * 100 | number:'1.2-2'}}%</td>
                <td>{{item.peForward}}</td>
                <td><app-remove [ticker]="item.ticker" (updateWatchList)="removeFromWatchList()"></app-remove></td>
            </tr>
            <tr class="table-primary font-weight-bold">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>{{average(watchListdata, "dividendYield") * 100 | number:'1.2-2'}}%</td>
                <td>{{average(watchListdata, "payoutRatio") * 100 | number:'1.2-2'}}%</td>
                <td>{{average(watchListdata, "profitMargin") * 100 | number:'1.2-2'}}%</td>
                <td>{{average(watchListdata, "peForward") | number:'1.2-2'}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

